*{
    margin: 0;
}

section{
    display: grid;
    grid-template-columns:auto auto auto auto;
    grid-template-rows:repeat(3,200px);
    grid-gap: 10px;
}
.red{
    background-color: red;
    border-radius: 10px;
    grid-column: 1/ span 4;
}
.blue{
    background-color: blue;
    border-radius: 1em;
    grid-column: 1 / span 2 ;
    grid-row: 2 / span 3;
}
.green{
    background-color: green;
    border-radius: 1em;
    grid-column: 3/ span 2;
}
.purple1{
    background-color:purple;
    border-radius: 1em;
    grid-column: 3/ span 1;
}
.purple2{
    background-color: purple;
    border-radius: 1em;
    grid-column: 4/ span 1;


}